body{
    margin: 1rem;
}

.contenedor-principal{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
}
.celda{
    width: 4.1rem;
    height: 4.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.grid-container {
    display: grid;
    width: auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 5px;
    
}
.grid-item {
    border: 3px solid black;
    border-radius: 4px;
    padding: 2px;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    
}

.grid-item:hover {
    transform: scale(1.1);
}

.inactiva{
    background-color: rgb(216, 106, 106);
    pointer-events: none;
    cursor: not-allowed;
    /*visibility: hidden;*/
}

.bloqueada{
    background-color: gray;
    pointer-events: none;
    cursor: not-allowed;
}

.seleccionada{

}

.disponible{
    background-color: rgb(112, 187, 128);

}

.img-personaje{
    width: 3rem;
    margin: 0;
    padding: 0;
}
